extends layout

block content
  .jumbotron
    h1= title
    if docs && docs.length
        h2 Ongoing check-ins
        table#ongoing
          tr
            th Check-in id
            th Date started
            th Stop check-in
          each doc in docs
            tr
              td= doc.id
              td= doc.date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric' })
              td: form(action=`/stop-check-in/${doc.id}`, method="post"): button.btn.btn-danger.delete(type="submit") Stop

    h2 Create new check-in
    form(action="/check-in", method="post")
      .lead
        .form-group.text-left
          label.control-label(for="check-in") Check-in id:
          input#id.form-control(type="text", name="id", required)
        
        .text-left
            button.btn.btn-primary(type="submit") Create

    form(action="/history", method="post")
        .text-left
            button.btn.btn-default View past check-ins
  

