extends layout

block scripts
    script(src="javascript")

block content
  .jumbotron
    h1= title
    form(action="/check-in", method="post")
      .lead
        .form-group.text-left
          label.control-label(for="check-in") Check-in id:
          input#check-in-id.form-control(type="text", name="check-in-id")
        
        .text-left
            button.btn.btn-primary(type="submit") Start check-in
    
    .text-left
        button.btn.btn-default View history
  

