extends layout

block content
  .jumbotron
    h1= title
    form(action="/check-in", method="post")
      .lead
        .form-group.text-left
          label.control-label(for="check-in") Check-in id:
          input#id.form-control(type="text", name="id")
        
        .text-left
            button.btn.btn-primary(type="submit") Start check-in
    
    form(action="/history", method="post")
        .text-left
            button.btn.btn-default View history
  

