extends layout

block content
  .jumbotron
    h1= title
    p.lead.text-left Create an event and have users check in to it using Attendee Check-in. 
    p.lead.text-left Click Admin Login or Attendee Check-in to get started.
    a.btn.btn-lg.btn-primary.margin-right-sm(href=base + '/login') Admin Login
    a.btn.btn-lg.btn-danger(href=base + '/student-check-in') Attendee Check-in