body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-white {
  color: white;
}

.btn > a:hover {
  text-decoration: none;
  color: inherit;
}

.margin-bottom {
  margin-bottom: 45px;
}

.underline {
  text-decoration: underline
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse
}

table th, table td {
  padding: 10px;
  font-size: 1.1em;
}