body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-white {
  color: white;
}

.btn > a:hover {
  text-decoration: none;
  color: inherit;
}

.margin-bottom {
  margin-bottom: 40px;
}

.underline {
  text-decoration: underline
}

table th, table td {
  padding: 5px;
}