body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-white {
  color: white;
}

.btn > a:hover {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-bottom: 45px;
}

.underline {
  text-decoration: underline
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse
}

table th, table td {
  padding: 10px;
  font-size: 1.1em;
}

.btn-sm {
  font-size: 0.9em !important;
}

#ongoing {
  margin: auto;
  margin-bottom: 60px;
}

.jumbotron h1 {
  font-size: 3.9em;
}

.margin-btm-sm {
  margin-bottom: 10px;
}

.margin-btm-md {
  margin-bottom: 30px !important;
}

.margin-btm-lg {
  margin-bottom: 60px !important;
}

.check-in-table {
  margin: auto;
}

.strong {
  font-weight: bold !important;
}

.margin-right-sm {
  margin-right: 10px;
}

@media screen and (max-width: 448px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
